fastapi==0.115.0
uvicorn[standard]
sqlalchemy==2.0.35
pydantic==2.9.2
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
python-multipart
python-dotenv
requests
fpdf2==2.7.9
jinja2
cvss==3.6
slowapi
celery[redis]==5.4.0
redis==5.2.0
flower==2.0.1
httpx
beautifulsoup4
